#faqs {
width: 600px;
margin-left: auto;
margin-right: auto;
}

.accordionButton {
width:600px;
float: left;
padding: 5px 0;
background: #ffffff;
border-bottom: 1px solid #FFFFFF;
cursor: pointer;
}

.accordionContent {
width: 600px;
padding: 8px;
float: left;
background: #9999ff !important;
display: none;
}

.accordionContent p {
line-height:80% !important;
background:#ffcccc;
padding:10px !important;
}
