<h1>There is no Catch!</h1>
<p>&nbsp; </p>
<p>There isn't one. All of the core features of the service are absolutely free to users and provide a fully functional accounting system for any small business. There is no time or use limit, once you’ve signed up you can use the service as often as you want and for as long as you want with no charge.</p>
<p> Other online accounting services may offer 30-days or more as a free trial before you will incur charges. If you start using the service during this offer period and spend time setting up all your data, you may be effectively obliged to continue with the service at the end of the free trial period – and you will be charged for doing so. </p>
<h3>With FreePlus Accounts you pay no charges - it is genuinely free for as long as you want to use it. </h3>
<h3>You have the option to sign-up for some or all of the additional system features and there is a charge for these. </h3>
