<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
[%- USE date -%]
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="description" />
<meta name="keywords" content="keywords" />
<link href="/app.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/jquery-ui.css" type="text/css"/>
<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/jquery-ui.js" type="text/javascript"></script>
<link rel="stylesheet" href="/uploadify.css" type="text/css"/>
<script type="text/javascript" src="/js/swfobject.js"></script>
<script type="text/javascript" src="/js/jquery.uploadify.v2.1.4.js"></script>
<script type="text/javascript" src="/js/jquery-print.js"></script>
<script type="text/javascript" src="/js/jsheader.js"></script>
<title>[% title -%]</title>
[% IF cookie.UPLDS > 0 -%]
<script type="text/javascript">
$(document).ready(function(){
  $("#pifile").uploadify ({
    "uploader"       : "/js/uploadify.swf",
    "script"         : "/cgi-bin/fpa/uploadify.pl",
    "cancelImg"      : "/js/cancel.png",
    "buttonText"     : "Attach Document",
    "fileExt"        : "*.pdf;*.jpg;*.png",
    "fileDesc"       : "PDF or Image Files (*.pdf,*.jpg,*.png)",
    "sizeLimit"      : [%- cookie.UPLDS -%],
    "expressInstall" : "/js/expressInstall.swf",
    "auto"           : false,
    "onAllComplete"  : function() {
                         window.location.reload(true);
                         $(this).dialog("close");
                       }
  });
});
</script>
[% END -%]
[% javascript %]
</head>
<body [%- IF focus -%][%- IF focus.search('location') -%] onload="[%- focus; -%]"[%- ELSE -%] onload="document.getElementById('[%- focus -%]').focus();"[%- END -%][%- END -%]>
<div id="wrapper">
<table width="100%"  cellpadding="0" cellspacing="0" border="0" style="height:103px;background-image:url(/images/header_back.png);background-repeat:repeat-x;">
  <tr>
    <td style="padding:0px;vertical-align:middle;text-align:center;width:120px;"><img src="/logo5.png"/></td>
    <td><h1 id="tagline">[%- cookie.TAG -%]</h1></td>
    <td style="text-align:right;padding:6px;"><a href="http://www.completemarketingservices.com"><img src="/images/sponsor_logo.png"/></a></td>
  </tr>
</table>
<div style="position: absolute; display: inline; top:80px; left:830px;">
  <div id="logout_button">
    <a href="/cgi-bin/fpa/logout.pl"></a>
  </div>
</div>
<div style=" background-image:url(/images/nav_back-old.png);height:70px;">
[% IF cookie.MENU == 'S'; INCLUDE simple_menu.tt; ELSE; INCLUDE full_menu.tt; END -%]
    <div style="float:right;">
    <div id="searchimg"><img src="/icons/search.png"/></div>
    <div style="float:right;padding:10px 25px 0px 0px;">
      <div id="dfg" title="Sales Invoices">Search Sales Invoices</div>
      <input id="searchcus" />
    </div>
    </div>
</div>
<div id="dialog" style="text-align:left;z-index:10100;" title="Errors!"></div>
<div id="vcomments" style="text-align:left;z-index:10100;" title="Feedback"></div>
<div id="vcomment" style="display:none;" title="Add a Comment">
  <form id="fcomment" name="fcomment" method="post" action="/cgi-bin/fpa/comment.pl">
    <table width="100%" cellpadding="4" cellspacing="0" border="0" class="formtable">
      <tr>
        <td style="vertical-align:top;"><label>Comment</label></td>
        <td><textarea name="comtext" id="comtext" cols="30" rows="3"></textarea></td>
      </tr>
      <tr>
        <td><label>Priority</label></td>
        <td>
          <select name="comgrade" id="comgrade">
            <option value="N">Normal</option>
            <option value="H">Important</option>
          </select>
        </td>
      </tr>
    </table>
  </form>
</div>
<div id="vreminders" style="text-align:left;z-index:10100;" title="Reminders"></div>
<div id="vreminder" style="display:none;" title="Add a Reminder">
  <form id="freminder" name="freminder" method="post" action="/cgi-bin/fpa/reminder.pl">
    <table width="100%" cellpadding="4" cellspacing="0" border="0" class="formtable">
      <tr>
        <td style="vertical-align:top;"><label>Message</label></td>
        <td><textarea name="remtext" id="remtext" cols="30" rows="3"></textarea></td>
      </tr>
      <tr>
        <td><label>Priority</label></td>
        <td>
          <select name="remgrade" id="remgrade">
            <option value="N">Normal</option>
            <option value="H">Important</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Show from</label></td>
        <td><input type="text" name="remstartdate" id="remstartdate" size="9" readonly="readonly"/></td>
      </tr>
      <tr>
        <td><label>Show to</label></td>
        <td><input type="text" name="remenddate" id="remenddate" size="9" readonly="readonly"/></td>
      </tr>
    </table>
  </form>
</div>
[% content %]
</div>  <!-- end of wrapper  //-->
<div id="receipt2" title="Receive Money In" style="width:520px;">
  <form id="recform2" name="recform2" method="post" action="/cgi-bin/fpa/process_txn.pl">
    <input type="hidden" name="invtype" id="rec_invtype" value="I"/>
    <input type="hidden" name="searchtype" id="rec_searchtype" value="Customers"/>
    <input type="hidden" name="amtcusid" id="rec_amtcusid" value="0"/>
    <table width="100%" cellpadding="4" cellspacing="0" border="0" class="formtable">
      <tr>
        <td><label>Received From</label></td>
        <td><div><input type="hidden" name="invcusname" id="rec_invcusname" value=""/><input id="rec_cus_id" title="Received From" class="mandatory"/></div></td>
      </tr>
      <tr>
        <td><label>Payment Method</label></td>
        <td>
          <select name="txnmethod" id="rec_txnmethod">
            <option value="1300">Cash</option>
            <option value="1310">Cheque</option>
            <option value="1200" selected="selected">Bank Transfer</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Total Amount Received</label></td>
        <td><span><input type="text" name="txnamount" id="rec_txnamount" value="" size="10" title="Total Amount Received" class="mandatory currency"[%- UNLESS cookie.VAT == "N" -%] onchange="calc_vat(this);"[%- END -%]/></span></td>
      </tr>
      <tr>
        <td><label>Category</label></td>
        <td><span><input type="text" name="item_cat" id="rec_item_cat" value="" size="20" title="Category"/></span></td>
      </tr>
[% UNLESS cookie.VAT == "N" -%]
      <tr>
        <td><label>VAT Rate</label></td>
        <td>
          <select name="vatrate" id="rec_vatrate" onchange="calc_vat(this);">
[% INCLUDE vatrates -%]
          </select>
        </td>
      </tr>
      <tr>
        <td><label>VAT Amount</label></td>
        <td><span><input type="text" name="invvat" id="rec_invvat" value="" size="10" title="VAT Amount Received" class="currency"/></span>&nbsp;<span id="rec_netamt"></span></td>
      </tr>
[% END -%]
      <tr>
        <td><label>Allocate to</label></td>
        <td>
          <select name="invcoa" id="rec_invcoa" size="1">
            <option value="4000" selected="selected">UK Sales</option>
            <option value="4100">EU Sales</option>
            <option value="4200">Export Sales</option>
            <option value="4300">Other Income</option>
          </select>
        </td> 
      </tr>
      <tr>
        <td><label>Transaction Date</label></td>
        <td><input type="text" name="invprintdate" id="rec_invprintdate" value="[%- date.format(date.now, '%d-%b-%y') -%]" size="10" readonly="readonly"/></td>
      </tr>
      <tr>
        <td colspan="2"><label style="text-align:left;padding-bottom:5px;">Description</label><textarea name="invdesc" id="rec_invdesc" cols="30" rows="2" title="Description of the receipt" class="mandatory"></textarea></td>
      </tr>
    </table>
  </form>
</div>
<div id="payment2" title="Pay Money Out" style="width:520px;">
  <form id="payform2" name="payform2" method="post" action="/cgi-bin/fpa/process_txn.pl">
    <input type="hidden" name="invtype" id="pay_invtype" value="P"/>
    <input type="hidden" name="searchtype" id="pay_searchtype" value="Customers"/>
    <input type="hidden" name="amtcusid" id="pay_amtcusid" value="0"/>
    <input type="hidden" name="expid" id="expid" value="[%- cookie.EXP -%]"/>
    <table width="100%" cellpadding="4" cellspacing="0" border="0" class="formtable">
      <tr class="notexpenses">
        <td><label>Paid To</label></td>
        <td><div><input type="hidden" name="invcusname" id="pay_invcusname" value=""/><input id="pay_cus_id" title="Paid To" class="mandatory"/></div></td>
      </tr>
      <tr class="notexpenses">
        <td><label>Payment Method</label></td>
        <td>
          <select name="txnmethod" id="pay_txnmethod">
            <option value="1300">Cash</option>
            <option value="1310">Cheque</option>
            <option value="1200" selected="selected">Bank Transfer</option>
            <option value="2010">Credit Card</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label>Total Amount Paid</label></td>
        <td><span><input type="text" name="txnamount" id="pay_txnamount" value="" size="10" title="Total Amount Paid" class="mandatory currency"[%- UNLESS cookie.VAT == "N" -%] onchange="calc_vat(this);"[%- END -%]/></span></td>
      </tr>
      <tr>
        <td><label>Category</label></td>
        <td><span><input type="text" name="item_cat" id="rec_item_cat" value="" size="20" title="Category"/></span></td>
      </tr>
[% UNLESS cookie.VAT == "N" -%]
      <tr>
        <td><label>VAT Rate</label></td>
        <td>
          <select name="vatrate" id="pay_vatrate" onchange="calc_vat(this);">
[% INCLUDE vatrates -%]
          </select>
        </td>
      </tr>
      <tr>
        <td><label>VAT Amount</label></td>
        <td><input type="text" name="invvat" id="pay_invvat" value="" size="10" title="VAT Amount Paid" class="currency"/>&nbsp;<span id="pay_netamt"></span></td>
      </tr>
[% END -%]
      <tr>
        <td><label>Allocate to</label></td>
        <td>
          <select name="invcoa" id="pay_invcoa" size="1">
            <option value="5000">Cost of Sales</option>
            <option value="6000" selected="selected">Other Expenses</option>
            <option value="7000">Fixed Overheads</option>
            <option value="1000">Fixed Assets</option>
            <option value="1500">Other Current Assets</option>
          </select>
        </td> 
      </tr>
      <tr>
        <td><label>Transaction Date</label></td>
        <td><input type="text" name="invprintdate" id="pay_invprintdate" value="[%- date.format(date.now, '%d-%b-%y') -%]" size="10" readonly="readonly"/></td>
      </tr>
      <tr>
        <td><label>Supplier Reference</label></td>
        <td><span><input type="text" name="invcusref" id="pay_invcusref" value="" title="Supplier Reference"/></span></td>
      </tr>
      <tr>
        <td colspan="2"><label style="text-align:left;padding-bottom:5px;">Description</label><textarea name="invdesc" id="pay_invdesc" cols="30" rows="2" title="Description of the payment" class="mandatory"></textarea>[%- IF cookie.UPLDS > 0 -%]&nbsp;&nbsp;<input id="pifile" name="pifile" type="file"/>[%- END -%]</td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
