    <div class="leftcol largecol">
<div id="logintable" style="font-size:18px;font-weight:bold;">FreePlus Accounts will cease trading as of the end of the day on 30th June 2022.</p>If you wish to retain any data please do so before that date.&nbsp;&nbsp;The best way to do that is to use Reports, particularly the 'Year End' --> 'Nominal Ledger' report, to download what you want.</p>Thank you for being a customer of FreePlus Accounts - the Corunna team.</p></p><center><button type='button' onclick='window.location="/cgi-bin/fpa/loginb.pl"'>Click here to continue to the Login screen</button></center></div>
    </div>
