<h1>Our Partners</h1>
As with most small companies, we rely on the services of others to make our business a success.&nbsp;&nbsp;After extensive searching we have found a number of businesses that adhere to our own philosophy of low-cost, no-frills, efficient service and have no hesitation in recommending them to our customers.
<h2>Accounting Services</h2>
We use an accountancy practice called '<b><a href="http://www.theaccountancy.co.uk">The Accountancy Partnership</a></b>' (www.theaccountancy.co.uk).&nbsp;&nbsp;Whilst not quite the cheapest accountants around (although they come close) they offer a service and pricing structure that exactly meets our needs and, being a small practice, are able and willing to respond very quickly to our queries.&nbsp;&nbsp;In fact our aspirations dovetail so well together that we recommend them as the preferred accountants for those using our FreePlus Accounting software.
<h2>Office Administration</h2>
There are many occasions when an additional pair of hands are required at short notice to carry out office related tasks.&nbsp;&nbsp;For this work we have found '<b><a href="http://www.hrlpfuladmin.co.uk">Helpful Admin</a></b>' (www.helpfuladmin.co.uk) to be unfailingly helpful and efficient.&nbsp;&nbsp;From entering those purchase receipts that kept stacking up to writing user documentation to supplying an extra pair of hands in the office, <b>Helpful Admin</b> have, on many occasions, saved the day.
<h2>Web Design</h2>
Most small businesses, nowadays, require some sort of web presence but there is a world of difference between a few pages knocked up on your home computer and a professionally designed suite of pages that work harmoniously together.&nbsp;&nbsp;To get the professional look one has to go to the professionals and none that we have found are more professional and innovative than '<b><a href="http://www.logicdesign.co.uk">logicdesign</a></b>' (www.logicdesign.co.uk).&nbsp;&nbsp;Based in Bury St Edmunds, Suffolk, <b>logicdesign</b> have repeatedly impressed us with their grasp of what we are looking for and their ability to turn that into an impactful design.
<h2>Search Engine Optimisation</h2>
Having a web site is one thing, enabling people to find it is quite another.&nbsp;&nbsp;Sean Proctor of '<b><a href="http://www.phoenixinternetconsultancy.co.uk">Phoenix Internet Consultancy</a></b>' (www.phoenixinternetconsultancy.co.uk) is both knowledgeable and enthusiastic when it comes to the internet.&nbsp;&nbsp;He has very quickly appreciated the potential of '<b>FreePlus Accounts</b>' and has applied his knowledge to ensure that it reaches the widest possible audience.
