* {
	margin: 0;
	padding: 0;
	}

body {
	padding:0;
	font: 76%/1.0em 'trebuchet ms',arial,sans-serif;
	color:#295238;
	font-weight:bold;
	background-color:#fff;
	text-align:left;
}
img {
	border:0px;
}
h3 a, h3 a:visited, h3 a:hover {
	text-decoration:none;
	color: #484848;
}

#wrapper {width:909px; text-align:left; padding: 0px 0px 0px 0px ; background:#fff;height:900px;background-image:url(/images/main_back.png);background-repeat:repeat-y;}
#wrapper hr { border-top:0;border-left:0;border-right:0;border-bottom:5px solid #007f64; margin-top:2px; }	
.box {width:320px; padding-top:15px; background:url(/boxTop.png) no-repeat left top; float:left; position:relative;}
.boxContent {padding:0 20px 0 20px; width:280px; height:270px; background:url(/boxMid.png) repeat-y; margin:0; float:left;}
.boxEnd {clear:both; display:block; height:15px; background:url(/boxBottom.png) no-repeat left top;}
h1 {
	font: normal 25px arial,sans-serif;
	color: #4c7243;
	padding-top:10px;
	padding-bottom:5px;
	}

h2 {
	font: normal 20px 'trebuchet ms',arial,sans-serif;
	padding-top:8px;
	padding-bottom:3px;
	}
#tagline {font-weight:normal; padding-top:0px; text-indent:10px; font-size:35px; color:#2a5238;}
	
h3 {
	font: normal 15px arial,sans-serif;
	color: #484848;
	margin-bottom: 10px;
	}
	
p {
	line-height: 18px;
	margin: 10px 0 20px 0;
	color: #484848;
	font-size: 13px;
	}

.clear {clear:both;}
.right {float:right;}
.left {float:left;}
button {
	font-size: 8pt;
	padding-top: 3px;
	padding-bottom: 3px;
}
table td {
	font-weight:normal;
}
.formtable {
        border: 1px #679a5c solid;
        background-color: #e6f1d7;
}
.radio input {
	margin-bottom:10px;
}
.formtable label {
        display:block;
        font-weight:bold;
        text-align:right;
        color:#486858;
}
.formtable td {
        padding: 10px 6px;
        text-align: left;
        font-weight: normal;
}
.datatable {
	border: 4px #295238 solid;
	background-color: #EAF1E0;
}

.datatable th {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:12px;
	color: #295238;
	background-color: #c8e5c1;
	height: 35px;
	padding-left:6px;
}

.datatable td {
	padding: 2px 6px 2px 6px;
}

.datatable td a {
	font-weight:bold;
	color:#006633;
	text-decoration:none;
}
.datatable td a:hover {
	color:#800000;
}
.datatable td a:visited {
	border:0px solid #800000;
}
.pageheader {
	font-size: 12pt;
	text-decoration: underline;
}
.mandatory {
	background-color:#f8e8c8;
}
.error {
	border:solid 2px #8f0000;
	padding-top:8px;
	padding-left:6px;
	padding-bottom:6px;
	padding-right:6px;
}
.odd {
        color:#295238;
        font-weight:normal;
        font-size:12px;
        height:24px;
        background-color:#f0f0f0;
        padding: 2px;
        border-right: solid 1px #ddd;
        border-top: solid 1px #ddd;
}
.even {
        color:#295238;
        font-weight:normal;
        font-size:12px;
        height:24px;
        background-color:#e8e8e8;
        padding: 2px;
        border-right: solid 1px #ddd;
        border-top: solid 1px #ddd;
}
.hidden {
        display:none;
}
.visible {
        display:table-cell;
}
#silly {
	width:90%;
	float:right;
        color:#486858;
}
#dialog ol {
	color: #486858;
	font: normal 13px arial,sans-serif;
	padding: 10px;
}
#dialog ol span {
	font: normal 13px 'trebuchet ms',arial,sans-serif;
	color: #486858;
	font-style: normal;
}
#dialog ol li {
	margin: 0 0 0 25px;
	padding: 2px 0
}
.testimonials {
	display: block;
	position:relative;
	font-weight:normal;
	width: 120px;
	border-right:2px solid #AED6A9;
	border-bottom:2px solid #AED6A9;
	background:url(testimonial.gif) no-repeat left top;
	padding:10px;
}
.testimonials p {
	font-size:12px;
}

.testimonials b {display:block; width:10px; height:10px; position:absolute;right:-2px; top:0; background:url(testimonial.gif) no-repeat right top;}
.testimonials i {display:block; width:10px; height:10px; position:absolute;left:0; bottom:-2px; background:url(testimonial.gif) no-repeat left bottom;}
.testimonials em {display:block; width:10px; height:10px; position:absolute;right:-2px; bottom:-2px; background:url(testimonial.gif) no-repeat right bottom;}

* html .testimonials i {bottom:-3px;} /* hack for IE6 */
* html .testimonials em {bottom:-3px;} /* hack for IE6 */

.mainbody {
	padding:10px;
	background-color: #fff;
}
#features {
	margin-left:30px; border-collapse:collapse;
}
#features img {
	padding: 0 10px 0 0;
}
#features td {
	padding:5px 0 0 5px;
	font-size:14px;
}
.style4 {
	font-size: 18px;
}
.style6 {
	font-size: 12px;
	font-weight: normal;
	background-color: #e5ffc0;
}
.style6 span {
	padding:0px 20px;}

/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menu/pro_drop12.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#menu2 {padding:0; margin:0; list-style:none; width:1000px; height:38px; background:#fff url(six_0.gif) repeat-x; font-family:arial, verdana, sans-serif;}
#menu2 li ul,
#menu2 li ul li.fly ul
{position:absolute; left:-9999px; padding:0; margin:0; list-style:none;}
#menu2 li.top {display:block; float:left;}
#menu2 li a.top_link {display:block; float:left; height:35px; line-height:33px; color:#ccc; text-decoration:none; font-size:12px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;background: url(six_0.gif);}
#menu2 li a.top_link b {float:left; display:block; padding:0 24px 0 12px; height:35px; background: url(six_0.gif) right top no-repeat;}

#menu2 li:hover ul :hover ul,
#menu2 li:hover ul :hover ul :hover ul,
#menu2 li:hover ul :hover ul :hover ul :hover ul,
#menu2 li:hover ul :hover ul :hover ul :hover ul :hover ul
{left:195px; top:0; white-space:nowrap; width:120px; z-index:400; height:auto;}

#menu2 li:hover ul li span a {background:url(/pro_drop12/fly.png) bottom right no-repeat;}

#menu2 li:hover a.top_link {color:#fff; background: url(six_2.gif) no-repeat;}
#menu2 li:hover a.top_link b {background:url(six_2.gif) no-repeat right top;}

#menu2 li:hover {position:relative; z-index:200;}
#menu2 li:hover ul li {display:block; height:25px; position:relative; float:left; width:200px; font-weight:normal; background:url(pro_drop12/box.png) left center;}
#menu2 li:hover ul li.subtop {padding-top:5px;height:25px !important; background:url(pro_drop12/box.png) left top;}
#menu2 li:hover ul li.subbot {padding-bottom:5px;height:35px !important; background:url(pro_drop12/box.png) left bottom;}

#menu2 li:hover ul li a {display:block; font-size:12px; height:25px; width:160px; line-height:25px; color:#fff; font-weight:bold; text-decoration:none; padding-left:10px; margin-left:10px;}

#menu2 li:hover ul {left:0; top:35px; background:url(pro_drop12/trans.gif); padding:10px 0; white-space:nowrap; width:200px; height:auto; z-index:300;}
#menu2 li:hover ul li a:hover {color:#fff; font-weight:bold;background-color:#b15050;}
#menu2 li:hover ul li.fly:hover > span a {color:#fff; font-weight:bold;background-color:#b15050;}

.boxed {float:left; border-top:1px solid #386002; border-left:1px solid #386002;position:relative;}
.boxed b {display:block; width:10px; height:10px; position:absolute; left:-1px; top:-1px; background:url(td2.gif) no-repeat left top;}
.boxed i {display:block; width:10px; height:20px; position:absolute; left:-1px; bottom:-1px; background:url(td2.gif) no-repeat left bottom;}
.boxed em {display:block; width:20px; height:10px; position:absolute; right:-1px; top:-1px; background:url(td2.gif) no-repeat right top;}
.boxed div {width:400px;padding:15px 20px 25px 10px; background:url(td2.gif) no-repeat right bottom; margin-bottom:-1px; margin-right:-1px; font-weight:normal;}

* html .boxed em {right:-2px;} /* hack for IE6 */
* html .boxed i {bottom:-2px;} /* hack for IE6 */
#tryitnow, #tryitnow a {
	float:right;
	width:116px;
	height:77px;
	background: url(/images/try1.png);
}

#tryitnow:hover a {
	background: url(/images/try2.png);
}
#login_button, #login_button a {
	float:left;
	width:72px;
	height:21px;
	background: url(/login1.png);
}
#login_button:hover a {
	background: url(/login2.png);
}
#reg_button, #reg_button a {
	float:right;
	width:72px;
	height:21px;
	background: url(/register1.png);
}
#reg_button:hover a {
	background: url(/register2.png);
}
.extra {
	font-family: Verdana, Helvetica, sans-serif;
	font-size:10px;
	color:#0175c6;
	padding-top:0px;
	text-decoration:none;
	font-weight:bold;
}
.status {
        border: 1px solid #D2944E;
        color: #87441c;
        background-color: #FFD9A6;
        margin-bottom:5px;
        font-size:18px;
        font-weight:normal;
        padding: 10px 10px;
        z-index: 2;
        text-align: left;
        width: 200px;
}
.subnote {
	font-weight:normal;
	font-size:10px;
}
.watermark {
	color:#bbb;
	font-size:12px;
	width:200px;
}
.listing {
        border: 2px #87876a solid;
        background-color: #fff;
}
.listing th {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size:12px;
        vertical-align:bottom;
        color: #fff;
        background-color: #87876a;
        height: 30px;
        padding:0 0 2px 6px;
}
.listing td {
        font-size: 10px;
        font-weight:normal;
        color: #295238;
        padding: 2px 6px;
        height:24px;
        border-right: solid 1px #c5c5a9;
}
.odd {
        background-color:#f0f0f0;
}
.even {
        background-color:#d9d9c2;
}
.odd:hover, .even:hover, .hilite:hover {
        cursor:pointer;
        background-color: #a6cfcf;
}
.listing td a {
        text-decoration:none;
        color: #295238;
}
.listing td a:hover {
        color: #800000;
}

