#faqs {
width: 600px;
margin-left: auto;
margin-right: auto;
}
#faqs .border {
color:#003300;
border:2px solid #003300;
width:600px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.accordionButton {
width:580px;
font-family: "Arial", "Helvetica", sans-serif;
font-size:14px;
font-weight:bold;
padding: 3px 0 3px 20px;
background: #388A4B url('/icons/arrow.gif') no-repeat center left;
color:#003300;
cursor: pointer;
}
#faqs .on {
background: #679a5c url('/icons/down.gif') no-repeat center left;
}
.accordionButtontop {
border-top:1px dotted #003300;
}
.accordionContent {
width: 584px;
font-size:10px;
padding: 8px;
background: #fdefb9;
display: none;
}
.accordionContent p, .accordionContent li {
line-height:14px !important;
}
#faqs .over {
	background-color:#679a5c;
}
